<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Spirare Editor</title>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; connect-src * blob:; img-src * data: blob:; media-src * data: blob:; style-src 'self' 'unsafe-inline' https://use.typekit.net/ https://p.typekit.net/; font-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' blob:; script-src-elem 'self' https://dev.virtualearth.net/ https://unpkg.com/ https://www.gstatic.com/ https://preview.babylonjs.com/ https://cdn.babylonjs.com/"
    />

    <style type="text/css">
      html,
      body,
      #cesiumContainer,
      #spirare_canvas {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      #cesiumContainer {
        position: relative;
        pointer-events: none;
      }

      #spirare_canvas {
        position: relative;
        top: -100%;
      }
    </style>
  </head>
  <body>
    <div id="cesiumContainer"></div>
    <canvas id="spirare_canvas"></canvas>
    <script src="./dist/vendor.js"></script>
    <script src="./dist/editor.js"></script>
  </body>
</html>

